services:
  kairo: &kairo
    build:
      context: .
    develop:
      watch:
        - action: rebuild
          path: .\
    volumes:
      - .:/app
    command: tail -F keepAlive #keep for testing

  test:
    <<: *kairo
    container_name: kairo-test
    command: tail -F keepAlive #keep for testing